input.searchbar-input.sc-ion-searchbar-md {
    border-radius: 20px !important;
    box-shadow: 0px 0px !important;
    background: #e6e7e9 !important;
    height: 28px !important;
    width: 140px !important;
    margin-left: -20% !important;
}

ion-toolbar.ios.ion-color.ion-color-light.hydrated {
    position: fixed;
}

.searchbar-input-container.sc-ion-searchbar-ios {
    height: 25px !important;
    border-radius: 20px !important;
}

input.searchbar-input.sc-ion-searchbar-ios {
    height: 25px !important;
    border-radius: 20px !important;
}

input.searchbar-input.sc-ion-searchbar-ios {
    height: 25px !important;
    border-radius: 20px !important;
}

ion-icon.options.ios.hydrated {
    margin-top: 19px;
    width: 88%;
    MARGIN-LEFT: -35%;
    font-size: 23px;
}

ion-searchbar.sc-ion-searchbar-md-h.sc-ion-searchbar-md-s.md.searchbar-left-aligned.hydrated {
    background: rgba(0, 0, 0, 0.13);
    width: 100%;
}