<ion-header>
    <ion-toolbar>
        <ion-title>code:{{code}} coppied to dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>

        <ion-item>
            <img class="img_logo" [src]="img_Url" />


        </ion-item>

        <ion-item>
            <h5 class="code"> code:{{code}}</h5>
        </ion-item>

        <ion-item>
            <ion-row>
                <ion-col size="12">
                    <ion-button shape="round" color="primary" href="{{URL_link}}" target="_blank">Go to site</ion-button>
                    <ion-button shape="round" color="danger" (click)="closepopup($event)">Close</ion-button>

                </ion-col>
            </ion-row>

        </ion-item>

    </ion-card>
</ion-content>