<div class="spinkit" *ngIf="showspiner">
    <img src="assets/xxx.png" class="Logospinner">



</div>

<ion-app>

    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <ion-toolbar color="light">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-item>
                    <ion-img src="assets/images/img-covershot-channel-category-men@2x.jpg"></ion-img>

                </ion-item>


                <ion-list color="light">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" color="light">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <img src="assets/cover.png" class="couponLogo">

        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>


</ion-app>