<div class="spinkit" *ngIf="showspiner "> <img src="assets/logo.png" class="roll-in-left">
    <div class="logoName">
        <h4 class="App_name2">يلا خشم</h4>
        <h4 class="App_name">Yalla Khasm</h4>
    </div>
</div>
<ion-app>
    <ion-split-pane>
        <ion-menu side="start" type="push">
            <ion-header>
                <ion-toolbar class="toolbar_menu" color="medium">
                    <ion-title>Yalla Khasm</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item class="menu_item" routerLink='/home' (click)="toggleMenu()">
                        <ion-icon slot="start" name="home"></ion-icon>
                        <ion-label> {{'Home' | translate}} </ion-label>
                    </ion-item>
                    <ion-item class="menu_item" routerLink='/favorite' (click)="toggleMenu()">
                        <ion-icon slot="start" name="heart"></ion-icon>
                        <ion-label> {{'Favourite'| translate}} </ion-label>
                    </ion-item>
                    <ion-item class="menu_item" routerLink='/login' (click)="logout()" *ngIf="loggedin">
                        <ion-icon slot="start" name="contact"></ion-icon>
                        <ion-label> {{'Logout'| translate}} </ion-label>
                    </ion-item>
                    <ion-item class="menu_item" routerLink='/login' (click)="toggleMenu()" *ngIf="!loggedin">
                        <ion-icon slot="start" name="contact"></ion-icon>
                        <ion-label> {{'Register/Login'| translate}} </ion-label>
                    </ion-item>
                    <ion-item class="menu_item">
                        <ion-icon slot="start" name="barcode"></ion-icon>
                        <ion-label> {{'Select Language' | translate}} </ion-label>
                    </ion-item>
                    <div class="select_languages">
                        <ion-col size="6">
                            <ion-button (click)="changeLanguage2($event)" color="base"> {{'English' | translate}} </ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <ion-button (click)="changeLanguage1($event)" color="base"> عربى </ion-button>
                        </ion-col>
                    </div>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>