// ion-slide {
//     height: 100vh;
//     flex-direction: column;
// }
// ion-img {
//     max-width: 50vw;
//     max-height: 50vh;
//     overflow: hidden;
// }
.step-one {
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}

.step-two {
    background: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
}

.step-three {
    background: var(--ion-color-dark);
    color: var(--ion-color-dark-contrast);
}

ion-slides.md.slides-md.swiper-container.hydrated.swiper-container-horizontal {
    height: 457px !important;
}

h1 {
    margin-top: 295px;
    font-size: 18px;
    font-family: 'Kaushan Script', cursive;
    color: #424242;
    text-shadow: none !important;
    margin-left: 50px;
    position: absolute;
    left: 78px;
    top: 25%;
    font-family: serif;
}

ion-slide.md.swiper-slide.swiper-zoom-container.hydrated.swiper-slide-active {
    width: 300px;
    height: 79%;
    left: 0px;
}

ion-slide.md.swiper-slide.swiper-zoom-container.hydrated.swiper-slide-active {
    width: 302px;
    height: 79%;
    left: 0px;
    top: 10px;
    // background: #a3a9ba;
}

ion-button.btn_do.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
    position: absolute;
    top: 86%;
}

ion-button.register.ion-color.ion-color-dark.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
    width: 100%;
    margin-top: 29px;
}

ion-button.register.ion-color.ion-color-dark.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
    width: 100%;
    margin-top: 29px;
}

ion-item.item.md.ion-focusable.item-label.item-label-floating.item-interactive.item-input.hydrated {
    font-size: 12px;
}

ion-slide.swiper-slide.swiper-zoom-container.hydrated.swiper-slide-active {
    width: 100% !important;
    height: 79% !important;
    left: 0px !important;
    top: 20px !important;
}

ion-slides.md.slides-md.swiper-container.hydrated.swiper-container-horizontal {
    height: 592px !important;
}

ion-slides.ios.slides-ios.swiper-container.hydrated.swiper-container-horizontal {
    height: 670px !important;
}

ion-label.skip {
    font-size: 12px;
    font-weight: 900;
}

ion-row.initial_row.hydrated {
    margin-bottom: 30px;
}

h4.register_text {
    margin: 7px 9px;
    margin-left: -25%;
}

.input_group {
    padding: 10px !important;
}

ion-icon.google.hydrated {
    color: white;
    height: 13px;
    width: 13px;
    border-radius: 30px;
}

ion-col.google_div.md.hydrated {
    background: #f41d1d;
    max-width: 33px !important;
    max-height: 50px !important;
    border-radius: 40px;
    text-align: center;
    left: 43%;
}

ion-col.google_div.ios.hydrated {
    background: #f41d1d;
    max-width: 33px !important;
    max-height: 50px !important;
    border-radius: 40px;
    text-align: center;
    left: 43%;
    margin-bottom: -7% !important;
}

ion-row.initial_row.hydrated {
    margin-bottom: 9px;
}

ion-slide.swiper-slide.swiper-zoom-container.hydrated.swiper-slide-active {
    width: 100% !important;
    height: 79% !important;
    left: 0px !important;
    top: 38px !important;
}

ion-row.initial_row_1.md.hydrated {
    margin-top: -224px;
    margin-bottom: 54px;
}

ion-row.initial_row_1.ios.hydrated {
    margin-top: -224px;
    margin-bottom: 64px;
}

.select_lang_title {
    font-weight: 900;
    margin-bottom: 2%;
}

.intro_language {
    margin-bottom: -84%;
    // background-image: linear-gradient(#97f3ff 31%, #03A9F4 110%);
    color: white;
    font-weight: 900;
    padding: 25px;
    border-top-left-radius: 170px;
    overflow: hidden;
    //     transform: skew(10deg, -14deg) translate(56px, 10px);
    //     width: 70%;
}

ion-img.slnt_img.md.hydrated {
    position: absolute;
    height: 81vh;
    top: -277%;
    width: 193%;
    left: -54%;
    transform: scale(1.6);
    z-index: -1;
}

ion-img.slnt_img.ios.hydrated {
    position: absolute;
    height: 81vh;
    top: -277%;
    width: 193%;
    left: -54%;
    transform: scale(1.6);
    z-index: -1;
}

ion-button.apply_langauge.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
    position: absolute;
    top: 237px;
    left: 0%;
    width: 100%;
}

ion-button.apply_langauge.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
    position: absolute;
    top: 237px;
    left: 0%;
    width: 100%;
}

.myClass {
    background: #07cbee2b;
    color: white;
}

ion-slides.md.slides-md.swiper-container.hydrated.swiper-container-horizontal {
    height: 100%!important;
}

ion-slides.ios.slides-ios.swiper-container.hydrated.swiper-container-horizontal {
    height: 100%!important;
}

ion-row.initial_row_1.md.hydrated {
    margin-top: 1px;
    margin-bottom: 13%;
}

ion-row.initial_row_1.ios.hydrated {
    margin-top: 1px;
    margin-bottom: 13%;
}

.select_lang_title {
    font-weight: 900;
    margin-bottom: 2%;
    text-align: center;
}

ion-row.initial_row_1.md.hydrated {
    margin-top: 1px;
    margin-bottom: 13%;
    text-align: center;
}

ion-row.initial_row_1.ios.hydrated {
    margin-top: 1px;
    margin-bottom: 13%;
    text-align: center;
}

.intro_language {
    max-height: 100%;
    color: white;
    font-weight: 900;
    padding: 25px;
    border-top-left-radius: 170px;
    text-align: center;
}

ion-img.slnt_img.md.hydrated {
    height: 100% !important;
    top: -17% !important;
    width: 100% !important;
    left: 20% !important;
    transform: scale(2.6) !important;
    z-index: 0 !important;
    position: fixed !important;
}

ion-img.slnt_img.ios.hydrated {
    height: 100% !important;
    top: -17% !important;
    width: 100% !important;
    left: 20% !important;
    transform: scale(2.6) !important;
    z-index: 0 !important;
    position: fixed !important
}

.select_lang_title {
    font-weight: 900;
    margin-bottom: 2%;
    text-align: center;
    z-index: 1 !important;
    position: relative;
}

ion-button.apply_langauge.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
    top: 71% !important;
    left: 3% !important;
    width: 92% !important;
    z-index: 9 !important;
    position: fixed !important;
}

ion-button.apply_langauge.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
    position: fixed !important;
    top: 71% !important;
    left: 3% !important;
    width: 92% !important;
    z-index: 9 !important;
}