// ion-img.logo.md.hydrated {
//     width: 91px;
// }
// ion-button {
//     margin-bottom: 10%
// }

/* Custom Skeleton Line Height and Margin */

.custom-skeleton ion-skeleton-text {
    line-height: 103px;
}

.custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
}

// ion-item.item.md.in-list.ion-focusable.hydrated {
//     width: 113%;
//     margin-left: -6%;
//     margin-top: -6%;
//     margin-bottom: 10%;
// }
.sc-ion-card-md-h {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 8px;
    margin-inline-start: 4px;
    -webkit-margin-end: 7px;
    margin-inline-end: 6px;
}

.custom-skeleton ion-skeleton-text {
    width: 239px !important;
    height: 100%;
}

// ion-button.ion-color.ion-color-tertiary.md.button.button-round.button-solid.ion-activatable.ion-focusable.hydrated {
//     font-size: 10px;
//     height: 27px;
// }
ion-slides {
    height: 75px;
    border-bottom: 1px solid #9e9e9e57;
}

.sc-ion-card-md-h[_ngcontent-lan-c2] {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 16px;
    margin-inline-start: 8px;
    -webkit-margin-end: 12px;
    margin-inline-end: 9px;
}

.sc-in-card-md-h {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
    -webkit-margin-end: 3px;
    margin-inline-end: 15px;
    padding-top: 21%;
    z-index: 100;
}

// .logo,
// ion-avatar.md.hydrated {
//     border-radius: 74px;
//     border: 1px solid #0000000d;
//     height: 126px;
//     width: 110px;
//     box-shadow: -3px 4px 8px 0px #00000061;
//     position: absolute;
//     padding: 9px;
//     z-index: 99999999;
//     background: white;
//     left: 65px;
//     top: -41px;
// }
// design 1
// .logo {
//     border-radius: 74px;
//     border: 1px solid #0000000d;
//     height: 152px;
//     width: 129px;
//     box-shadow: -3px 4px 8px 0px #00000061;
//     position: absolute;
//     padding: 7px;
//     z-index: 999px;
//     background: white;
//     left: 114px;
//     top: -63px;
// }
// design 2
// .logo {
//     border-radius: 74px;
//     border: 1px solid #0000000d;
//     height: 152px;
//     width: 129px;
//     box-shadow: -3px 4px 8px 0px #00000061;
//     padding: 7px;
//     z-index: 999px;
//     background: white;
//     left: 114px;
//     top: -63px;
// }
p.couponCode {
    text-align: center;
    border: 4px dotted black;
}

// ion-img.logo.md.hydrated[_ngcontent-kfx-c0] {
//     width: 133px;
//     line-height: 16%;
//     display: inherit;
// }
ion-img.logo {
    width: 259px;
    border-radius: 4px;
    height: 72px;
    width: 259px !important;
    height: 151px;
}

// design 4
// .logo {
//     border: 1px solid #0000000d;
//     box-shadow: -3px 4px 8px 0px #00000061;
//     padding: 0px;
//     background: white;
// }
// .sc-ion-card-md-h {
//     margin-left: unset;
//     margin-right: unset;
//     -webkit-margin-start: 8px;
//     margin-inline-start: 8px;
//     -webkit-margin-end: 3px;
//     margin-inline-end: 15px;
//     z-index: 100;
// }
// .logo {
//     border: 1px solid #0000000d;
//     box-shadow: -4px 10px 4px 0px #00000061;
//     padding: 0px;
//     background: white;
// }
// ion-card-header.md.hydrated {
//     margin-bottom: -52px;
// }
p.cpn {
    background: #0c0d0b;
    color: white;
    width: 137px;
    padding: 2px;
    border: 4px dotted #2b213e6b;
    z-index: 99999;
}

.sc-ion-card-md-h {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 11px;
    margin-inline-start: 12px;
    -webkit-margin-end: 9px;
    margin-inline-end: 13px;
    z-index: 100;
    padding: 19px;
    margin-top: 38px;
}

ion-tab-button {
    background: #2196F3;
    color: whitesmoke;
}

ion-title.md.title-md.hydrated {
    font-size: 12px;
}

ion-slide {
    width: 16px;
}

img.AppLogo {
    margin-left: 31%;
    width: 27%;
    margin-bottom: -32px;
}

ion-tab-button {
    background: #414141;
    color: whitesmoke;
}

.category {
    width: 100% !important;
}

ion-item.item.md.in-list.ion-focusable.item-label.hydrated {
    margin-left: -7px;
    width: 100%;
}

ion-label.img_Coupon.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated[_ngcontent-xle-c0] {
    width: 128% !important;
    margin-top: 10px !important;
}

h5.code {
    font-size: initial;
}

ion-label.img_Coupon.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    width: 137% !important;
}

.category_search {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 131px !important;
    z-index: 999;
    background: white;
    border-bottom: 1px solid #00000069;
    height: 109px;
}

ion-tab-button {
    background: #8d03aa;
    color: whitesmoke;
}

div.item-native {
    margin-left: -16px !important;
}

ion-item.item.md.in-list.ion-focusable.item-label.hydrated {
    margin-left: -16px !important;
    width: 105% !important;
}

ion-item.item.ios.in-list.ion-focusable.item-label.hydrated {
    margin-left: -16px !important;
}

.swal2-popup.swal2-modal.swal2-show {
    width: 600px;
    display: flex;
    height: 398px !important;
    position: absolute !important;
    top: 35px !important;
}

.btn-warning {
    background: #9e1d9e !important;
    color: #fbfbfb !important;
    height: 26px !important;
    width: 172px !important;
    text-decoration: none;
    display: block !important;
    border-radius: 20px !important;
    padding: 5px !important;
    margin-left: 29px !important;
    font-size: 14px;
}

.cardList {
    margin-top: 86px;
}

// new
img.img_logo {
    width: 112%;
    padding: 0px !important;
}

p.Coupon {
    line-height: 0;
}

ion-icon.Coupon_icon.md.hydrated {
    font-size: 26px;
}

p.Coupon {
    line-height: 0;
    position: absolute;
    line-height: 0;
    position: absolute;
    top: 20%;
    left: 22%;
    font-weight: 900;
    color: black;
    font-size: 19px;
}

ion-col.action_svg.md.hydrated {
    border: 1px solid #0000001f;
    border-radius: 7px;
    margin-left: 8px;
    padding: 9px;
    box-shadow: -1px 0px 5px #00000042;
    font-size: 15px;
}

ion-col.action_svg.ios.hydrated {
    border: 1px solid #0000001f;
    border-radius: 7px;
    margin-left: 8px;
    padding: 9px;
    box-shadow: -1px 0px 5px #00000042;
    font-size: 15px;
}

p.discount_limitations {
    padding: 10px;
}

ion-card.sc-ion-card-ios-h.sc-ion-card-ios-s.ios.hydrated {
    box-shadow: -2px -2px 7px #00000052;
    border-radius: 20px;
}

.col-12.card_footer {
    width: 100% !important;
    background: #e5e9f400;
    border-top: 1px solid #8080803d;
    border-bottom: 1px solid #80808040;
    padding: 8px
}

ion-col.action_svg.md.hydrated {
    border: 1px solid #0000001f;
    border-radius: 7px;
    margin-left: 5px;
    padding: 10px;
    box-shadow: -1px 0px 5px #00000042;
    font-size: 15px;
}

ion-button.ion-color.ion-color-success.button.button-solid.ion-activatable.ion-focusable.hydrated {
    width: 50% !important;
    height: 53px !important;
    margin-top: -5px;
}

.card_footer {
    width: 100%;
}

ion-col.action_svg.hydrated {
    font-size: 23px !important;
    margin-bottom: -24px !important;
}

.ion-color-success {
    --ion-color-base: #0cd1e8 !important;
}

ion-card.sc-ion-card-md-h.sc-ion-card-md-s.md.hydrated {
    padding: 14px;
    border-radius: 33px;
    box-shadow: -1px -2px 8px #00000038;
}

ion-card.sc-ion-card-ios-h.sc-ion-card-ios-s.ios.hydrated {
    padding: 14px;
    border-radius: 33px;
    box-shadow: -1px -2px 8px #00000038;
}

p.Coupon {
    line-height: 0;
    position: absolute;
    line-height: 0;
    position: absolute;
    top: 20%;
    left: 12% !important;
    font-weight: 900;
    color: black;
    font-size: 13px !important;
}

img.couponBorder {
    width: 112% !important;
    margin-left: -7% !important;
    max-width: 150% !important;
    height: 69px;
}

.coupon_code {
    border: 5px dashed black;
    height: 50px;
    text-align: center;
    padding: 0px;
    font-weight: 900;
    color: black;
}

ion-icon.Coupon_icon.md.hydrated {
    padding-left: 14px !important;
}

ion-card.sc-ion-card-md-h.sc-ion-card-md-s.md.hydrated {
    padding: 14px;
    border-radius: 33px;
    box-shadow: -1px -2px 8px #00000038;
    height: 397px;
}

ion-card.sc-ion-card-ios-h.sc-ion-card-ios-s.ios.hydrated {
    padding: 14px;
    border-radius: 33px;
    box-shadow: -1px -2px 8px #00000038;
    height: 397px;
    margin-top: 57px !important;
}

ion-avatar.md.hydrated {
    border: 1px solid #80808005 !important;
    box-shadow: -3px 1px 7px #0000004d !important;
    transform: scale(1) !important;
    padding: 2px !important;
}

ion-avatar.ios.hydrated {
    border: 1px solid #80808005 !important;
    box-shadow: -3px 1px 7px #0000004d !important;
    transform: scale(1) !important;
    padding: 2px !important;
}

ion-slides {
    height: 84px !important;
}